.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top:0px;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;
    background-color:white;
    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        .logo{
            width: 180px;
            height: 60px;
            margin: 5px;
        }
        

    }
    .middle
    {
        display: flex;
        align-items: center;
        gap: 30px;
        a{
            text-decoration: none;
            
            
        }
        span{
            font-size: x-large;
            font-weight: 300;
            padding-right: 40px;
            color: black;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
    }
    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        
        .sign{
            background-color: #5585b5;
            color: white;
            border-radius: 10%;
            border: 1px solid black;
            width: 80px;
            margin-right: 50px;
            height: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            
        }
        .sign:hover{
            height: 35px;
            width: 83px;
        }
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            span{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            
        }

    }
}