.footer{
    footer{
        background-color: #38598b;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
        h4{
            font-size: 20px;
            padding-bottom: 20px;
            color: black;
            font-weight: 500;
        }
        p{
            font-size: 18px;
            margin: 0 0 8px 0;
            color:black;
            font-weight: 400;
        }
        a{
            font-size: 13px;
            text-decoration: none;
            color: black;
            font-weight: 300;
            margin-bottom: 10px;
        }
        .col{
            display:flex;
            flex-direction: column;
            align-items:flex-start;
            margin-bottom: 20px;

            .logo{
                margin-bottom: 30px;
            }
            .follow{
                margin-top: 20px;
            }
        }
        .install{
            img{
                margin: 10px 0 15px 0;
            }
            .row{
                img{
                    border:1px solid #088178;
                    border-radius: 6px;
                }
            }
        }
        .copyright{
            width:100%;
            text-align:center;
        }
    }
}